# IDE-specific files
.idea/
.vscode/

# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo

# Environment-specific files
appsettings.Development.json

# Secrets
secrets.json

# Entity Framework Migrations
Data/Migrations/
