
@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Feith's Art Gallery</h1>
    <p>Discover the world through the eyes of an artist.</p>
</div>
